header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px; 
} 

.head-top {
    display: flex;
    width: 100%;
    color: var(--second-color);
    background-color: var(--hero-color);
    padding-left: 1.5rem;
}


/* --------------------------------------------------------- */


 /* NAV BAR */

 nav {
    display: flex;
    height: 100%;
    border-radius: 0 0 20px 0;
    background-color: var(--second-color);
 }
 
.head-bot {
    /* flex: 0 1 100%; */
    color: var(--hero-color);
    background-color: var(--second-color);
    border-radius: 0 0 0 20px;
    padding-left: 1.5rem;
}

.nav-bar {
    display: flex;
    /* flex: 1 0 1; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
 }

nav ul {
    background-color: var(--second-color);
    align-items: center;
    display: flex;
    padding-right: 1.5rem;
    min-height: 100%;
    gap: 10px;
}

nav a {
    font-size: 80%;
    color: var(--hero-color)
}