@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
:root {
--hero-color: #000000;
--second-color: grey;
--nav-font: 110%;
--header-font: 150%
}

* {
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: var(--header-font);
    font-weight: 450;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    box-shadow: 0 5px 20px white;
    z-index: 1; */
    }


#logo-top {
    display: flex;
    flex-basis: 100%;
    padding: 0 1em;
    background-color: var(--hero-color);
    color: var(--second-color)
}

#logo-bottom {
    display:flex;
    flex-basis: 100%;
    padding: 0 1em;
    border-radius: 0 0 0 20px;
    background-color: var(--second-color);
    color: var(--hero-color);
}

#logo-bottom-container {
    display: flex;
    align-items: center;
    padding-right: 1em;
    background-color: var(--second-color);
    border-radius: 0 0 20px 20px;
}

#header-nav ul {
    display: flex;
    gap: 5px;
}


#header-nav a {
    font-size: var(--nav-font);
    color: var(--hero-color);
}

#header-nav a:hover, #header-nav a:active {
    color: white;
}

/* ABOUT ME SECTION */

.about-me {
    padding: 0 1.5em;
    display:flex;
    justify-content: space-between;
    text-align: center;
    flex: 0 1 100%;
    margin: 0 0 1.5em;
}

.about-heading {
    display: flex;
    justify-content: start;
}

.about-heading h2 {
    font-weight: 500;
}

.about-content {
    display: flex;
    justify-content: end;
    margin-left: 1em;
}

.about-content p {
    font-weight: 100;
}

/* MAIN CATALOG */
.cata {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    gap: 10px;
    transition: flex-basis 2s ease-in-out;
}

.card {
    display:flex;
    flex: 1 0 100%;
    flex-direction: column;
    align-items: center;
    transition: flex-basis 500ms ease-in-out;
    color: black;
    font-weight: 400;
}

.card-image {
    display:flex;
    max-width: 100%;
    max-height: 200px;
    flex-grow: 1 1 0;
}

.card-image img {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    width: 100%;
    object-fit: cover;
}

.card-image img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: all 1s ease-in-out;
}

.card-txt {
    width: 100%;
    padding: 5px 0;
    background-color: var(--hero-color);
    color: var(--second-color);
    text-align: center;
}

/* FOOTER / CONTACT */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em 0;
    margin-top: 2.5em;
    background-color: var(--hero-color);
    color:var(--second-color);
}

footer a {
    color: var(--second-color);
}

footer a:hover {
    color: white;
}

#email::before {
    content: "@";
}

#git,
#email,
#linkedin {
    display: flex;
}


/* DEFAULT SCALLING 320x480 */

/* 481x768 IPAD PORT*/
@media screen and (min-width: 481px) {
    .cata {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
/* For Hero Project */
    #card-1 {
        flex: 0 0 100%;
        max-height: 200px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
                        
    #card-1 .card-image {
        width: 100%;
    }

    #card-1  img {
        min-width: 80%;
        max-height: 200px;
        object-fit: cover;
    }

    .card {  
        flex: 0 1 48%;
        transition: all 500ms ease-in-out;
    }   
}

/* REGULAR DESKTOP 769PX and up */
@media screen and (min-width: 769px) {
    .cata {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
/* For Hero Project */
    #card-1 {
        flex: 0 0 100%;
        max-height: 200px;
        padding-bottom: 20px;
    }
                        
    #card-1 .card-image{
        width: 100%;
    }

    #card-1  img {
        min-width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

    .card {
        flex: 0 0 32%;
        transition: flex-basis 500ms ease-in-out;
    }
}

/* EXTENDED DESKTOP 1920PX and up */
@media screen and (min-width: 1920px) {
    
    .cata {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
/* For Hero Project */
    #card-1 {
        flex: 0 0 100%;
        max-height: 200px;
        padding-bottom: 20px;
    }
                        
    #card-1 .card-image{
        width: 100%;
    }

    #card-1  img {
        min-width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

    .card {
        flex: 0 0 24%;
        transition: flex-basis 500ms ease-in-out;
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}